<ion-header-bar class="bar-stable">
	<a href="javascript:window.history.back()" class="button button-icon icon ion-ios7-arrow-thin-left"></a>
  <h1 class="title">Schutters</h1>
	<a ng-click="save()" class="button button-icon icon ion-ios7-checkmark-outline"></a>
</ion-header-bar>
<ion-content>
	<div class="list">
		<div class="card">
		<label class="item item-input item-button-right" ng-repeat="archer in match.archers">
	    <span class="input-label">Naam</span>
			<input type="text" ng-model="archer.name" placeholder="Naam">
			<button class="button button-clear" ng-click="deleteArcher($index)"><i class="icon ion-ios7-close-empty"></i></button>
		</label>
	</div>
		
		<div class="card">
			<a ng-click="addArcher()" class="item">Schutter toevoegen</a>
			<a ng-click="deleteMatch()" class="item item-icon-right" ng-class="{hide: new}"><i class="icon ion-ios7-close-empty"></i>Wedstrijd verwijderen</a>
		</div>
	</div>
</ion-content>